PORT=3000
NODE_ENV=production

# Database Configuration (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=simonle_user
DB_PASSWORD=your_password
DB_NAME=simonle_db

# MQTT Broker Configuration
MQTT_BROKER_URL=mqtt://103.197.188.199:1883
MQTT_CLIENT_ID=simonle_backend_service
MQTT_USERNAME=nexaryn
MQTT_PASSWORD=your_mqtt_password
